<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/css/all.min.css">
    <title>C.R.U.D - Angular JS, PHP y MySQL</title>
</head>

<body ng-controller="miControlador">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="./">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <p class="p-1"></p>



    <div class="container-fluid" ng-init="listarDatos();">

        <div class="alert alert-success alert-dismissible" ng-show="success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{success}}
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <!--<button type="button" class="btn btn-success btn-sm me-md-2" data-bs-toggle="modal"
                    data-bs-target="#nuevoDatoModal" data-bs-toggle="tooltip" ng-click="nuevoDato();" data-bs-placement="right" title="Nuevo"> <i class="fas fa-plus-square"></i></button>-->
            <button type="button" class="btn btn-success btn-sm me-md-2" ng-click="nuevoDato();"
                data-bs-placement="right" title="Nuevo"> <i class="fas fa-plus-square"></i></button>
        </div>

        <p class="p-1"></p>

        <div class="table-resposive">
            <table class="table table-sm table-stripped">
                <thead class="table-dark">
                    <tr>
                        <th>Num</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th colspan="2" width="8%">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="dato in DatosNombre" ng-show="DatosNombre.length>0">
                        <td>{{dato.id}}</td>
                        <td>{{dato.first_name}}</td>
                        <td>{{dato.last_name}}</td>
                        <td><button type="button" class="btn btn-outline-info btn-sm"> <i
                                    class="fas fa-edit" ng-click="listarUnDato(dato.id);"></i></button></td>
                        <td><button type="button" class="btn btn-outline-danger btn-sm"> <i
                                    class="fas fa-trash-alt" ng-click="EliminarDato(dato.id);"></i></button></td>
                    </tr>
                    <tr ng-hide="DatosNombre.length>0">
                        <td colspan="3" class="text-center"><span class="badge bg-danger">No hay Datos</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <?php
include 'AgregarModal.php';
?>

</body>



<script src="styles/js/bootstrap.bundle.js"></script>
<script src="styles/js/all.min.js"></script>
<script src="styles/js/angular.min.js"></script>
<script src="styles/js/sweetalert2.js"></script>
<script src="app.js"></script>

</html>